@font-face {
  font-family: "Franklin Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Franklin Gothic Regular"),
    url("FranklinGothic.woff") format("woff");
}

a {
  text-decoration: none;
  color: #000;
}

a.zero:hover {
  color: #00afd7;
}

a.one:hover {
  color: #ff5a81;
}

a.two:hover {
  color: #10d31a;
}

a.three:hover {
  color: #753bbd;
}

a.four:hover {
  color: rgb(240, 11, 26);
}

a.btn:hover {
  color: #08efff;
}

h3.black-bg {
  color: white;
}
h3.black-bg-c {
  text-align: center;
  color: white;
}

h3.black-bg:hover {
  color: #08efff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 20px;
  width: 20px;
}

.mail-logo {
  height: 15px;
  width: 20px;
}

.gothic {
  font-family: "Franklin Gothic Regular";
}

.gothic-nav {
  font-family: "Franklin Gothic Regular";
  margin-right: 50px;
  font-size: 20pt;
}

.gothic-nav-phone {
  font-family: "Franklin Gothic Regular";
  margin-right: 50px;
  font-size: 18pt;
}

.gothic-foot {
  display: flex;
  font-family: "Franklin Gothic Regular";
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20pt;
}

.btn {
  color: black;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

.Header {
  padding-top: 100px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.SubHeader {
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-bottom: 20px;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space {
  margin-right: 40pxz;
}

.bio {
  align-items: left;
}

.bio-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: left;
  padding-left: 200px;
  padding-bottom: 100px;
  padding-right: 200px;
}

.bio-header {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 0px;
}

.bio-item {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 20px;
}

.bio-header-black-bg {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 0px;
  color: white;
}

.bio-item-black-bg {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 20px;
  color: white;
}

.boxed {
  border: 3px solid white;
}

.portfolio {
  align-items: left;
}

.portfolio-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: left;
  padding-top: 100px;
  padding-left: 200px;
  /* padding-bottom: 220px; */
  padding-right: 200px;
}

.writing-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: left;
  padding-top: 220px;
  padding-left: 200px;
  padding-bottom: 220px;
  padding-right: 200px;
  background-color: rgb(255, 255, 255);
}

.portfolio-header {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 0px;
}

.p-item {
  font-family: "Franklin Gothic Regular";
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 20px;
}

.boxed2 {
  border: 3px solid black;
}

.boxed2-black-bg {
  border: 3px solid white;
}

i.black-bg {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow {
  box-sizing: border-box;
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow-black {
  box-sizing: border-box;
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  align-items: center;
}

.arrow-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: center;
  padding-top: 0px;
  padding-left: 48.5%;
  /* padding-bottom: 220px; */
  /* padding-right: 200px; */
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow-black:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.oneandquarter {
  line-height: 1.25em;
}

/* react-burger-menu */

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  align-items: left;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #00afd7;
  text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  text-decoration: none;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
  text-decoration: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
  text-decoration: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
  text-decoration: none;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-family: "Franklin Gothic Regular";
  font-size: 1.5em;
  text-decoration: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
  text-decoration: none;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
