@font-face {
  font-family: 'Franklin Gothic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Franklin Gothic Regular'), url('FranklinGothic.woff') format('woff');
  }

  a {
    text-decoration : none; color : #000;
  }

  a.zero:hover {
    color:  #00afd7;
  }

  a.one:hover {
    color:  #ff5a81;
  }

  a.two:hover {
    color: #10d31a;
  }

  a.three:hover {
    color:  #753BBD;
  }

  a.four:hover {
    color:  rgb(240, 11, 26)
  }

  a.btn:hover {
    color:  #08efff;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 20px;
  width: 20px;
}

.mail-logo {
  height: 15px;
  width: 20px;
}

.gothic {
  font-family: 'Franklin Gothic Regular';
}

.gothic-nav {
  font-family: 'Franklin Gothic Regular';
  margin-right: 50px;
  font-size: 20pt;
}

.gothic-nav-phone {
  font-family: 'Franklin Gothic Regular';
  margin-right: 50px;
  font-size: 18pt;
}

.gothic-foot {
  font-family: 'Franklin Gothic Regular';
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20pt;
}

.btn {
  color: black
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}


.Header {
  padding-top: 100px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.SubHeader {
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-bottom: 20px;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
};

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space {
  margin-right: 40pxz;
}

.bio {
  align-items: left;
}

.bio-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: left;
  padding-left: 200px;
  padding-bottom: 100px;
  padding-right: 200px;
}

.bio-header {
  font-family: 'Franklin Gothic Regular';
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 0px;
}

.bio-item {
  font-family: 'Franklin Gothic Regular';
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 20px;
}

.boxed {
  border: 3px solid white ;
}


.portfolio {
  align-items: left;
}

.portfolio-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-content: left;
  padding-top: 300px;
  padding-left: 200px;
  padding-bottom: 100px;
  padding-right: 200px;
}

.portfolio-header {
  font-family: 'Franklin Gothic Regular';
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 0px;
}

.p-item {
  font-family: 'Franklin Gothic Regular';
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-right: 50px;
  padding-left: 20px;
}

.boxed2 {
  border: 3px solid black ;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.arrow {
  box-sizing: border-box;
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
