@font-face {
  font-family: 'Franklin Gothic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Franklin Gothic Regular'), url('FranklinGothic.woff') format('woff');
  }

  a {
    text-decoration : none; color : #000;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 20px;
  width: 20px;
}

.mail-logo {
  height: 15px;
  width: 20px;
}

.gothic {
  font-family: 'Franklin Gothic Regular';
}

.gothic-nav {
  font-family: 'Franklin Gothic Regular';
  margin-right: 50px;
  font-size: 20pt;
}

.gothic-foot {
  font-family: 'Franklin Gothic Regular';
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20pt;
}

.btn {
  color: black
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 60px;
}

.Header {
  padding-top: 10px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.SubHeader {
  display: flex;
  flex-direction: row;
  padding-left: 43px;
  padding-bottom: 20px;
  align-items: left;
  text-align: left;
  justify-content: left;
  background-color: white;
  color: black;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
};

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space {
  margin-right: 40pxz;
}
